{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

	<div class="col-xs-4">
  <h2>Sign up</h2>

	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}

  	<form method="post">
			{% csrf_token %}

			{% for hidden_field in form.hidden_fields %}
				{{ hidden_field }}
			{% endfor %}

			{% for field in form.visible_fields %}
				<div class="form-group">
					{{ field.label_tag }}
					{% render_field field class="form-control" %}
					{% if field.help_text %}
						<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
				</div>
			{% endfor %}

			{% if has_recaptcha %}
				<script src='https://www.google.com/recaptcha/api.js'></script>
				<div class="g-recaptcha" data-sitekey="6LfwHi8UAAAAAAcPnsYGLTrqWudhe36AaEwZqZhZ"></div>
			{% endif %}

			<button type="submit">Sign up</button>
		</form>
	</div>
{% endblock %}
